<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jqcloud2@2.0.3/dist/jqcloud.min.css">
    <title>Acadêmic Papers</title>
    <style>
        .publication-types {
            display: flex;
        }

        .publications {
            padding: 1vw;
        }

        .publication {
            margin: 0 0 .5vw .5vw;
            padding: 2vw;
            border: 1px solid gray;
            border-radius: 1vw;
        }

        h2 {
            margin-top: 2vw !important;
        }

        @media (min-width: 720px) {
            .years {
                display: flex;
            }
        }

        .conferencePaper {
            background: #E7F2F8 !important
        }

        .journalArticle {
            background: #fbfbe8 !important
        }

        .book {
            background: #91d6e4 !important
        }

        .bookSection {
            background: #EFE7BC !important
        }

        .thesis {
            background: #facfd4 !important
        }

        .blogPost {
            background: #dffff0 !important
        }
    </style>
</head>

<body>
    <div id="app" class="ui container">
        
        <div id="cloud" style="width: 50vw; height: 20vw; margin: 0 auto"></div>

        <div>

            <a class="ui basic button" :class="{ active: notFiltering }" @click="showType = undefined; updateCloud()">
                Tudo
            </a>

            <a v-for="type in types" :key="type.type" class="ui button"
                :class="[showType == type ? 'active' : '', type.type ]" @click="showType = type; updateCloud()">
                {{ type.name }}
            </a>

            <div class="ui right aligned container" style="margin-top: 1vw">
                <div class="ui icon input">
                    <input type="text" placeholder="Pesquisar..." v-model="searchText">
                    <i class="search link icon"></i>
                </div>
            </div>

        </div>

        <div class="ui segment">
            <div v-for="year in sortedYears" :key="year.number" class="years">
                <h2> {{ year.number }} </h2>
                <div class="publications ui cards">
                    <div class="publication card" v-for="publication in year.publications" :key="publication.key"
                        :class="publication.data.itemType">
                        <p class="content">
                            <span v-html="publication.citation"></span>
                        </p>
                        <div class="extra content" style="display:flex; flex-flow:column">
                            <span v-if="publication.data.DOI">
                                <a :href="`https://doi.org/${publication.data.DOI}`" target="_blank">
                                    <i class="icon file outline"></i>
                                    DOI: {{publication.data.DOI}}.
                                </a>
                            </span>
                            <span v-if="publication.data.url">
                                <a target="_blank" :href="publication.data.url">
                                    <i class="icon linkify"></i>
                                    Acessar
                                </a>
                            </span>
                            <span v-if="!publication.data.url && !publication.data.DOI">
                                <a target="_blank" :href="`https://google.com.br/search?q=${publication.data.title}`">
                                    <i class="icon search"></i>
                                    Buscar
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="ui active inverted dimmer">
                <div class="ui text loader">Carregando</div>
            </div>
            <div v-if="sortedYears.length == 0 && publications.length > 0">Nenhum resultado.</div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://unpkg.com/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jqcloud2@2.0.3/dist/jqcloud.min.js"></script>
    
    <script>

        const GROUP_ID = '2302585'
        const COLLECTION_ID = '83YIGLLI'

        const app = new Vue({
            el: '#app',
            data: {
                groupId: GROUP_ID,
                years: {},
                publications: [],
                allowedTypes: [
                    { name: 'Artigos de Conferências', type: 'conferencePaper' },
                    { name: 'Artigos de Revistas', type: 'journalArticle' },
                    { name: 'Livros', type: 'book' },
                    { name: 'Capítulos de Livros', type: 'bookSection' },
                    { name: 'Monografias', type: 'thesis' },
                    { name: 'Blogs', type: 'blogPost' },
                ],
                showType: undefined,
                searchText: ''
            },
            async created() {
                const items = await getItems(GROUP_ID, COLLECTION_ID)

                const publications = filterPublications(items)
                const attachments = filterAttachments(items)

                linkPublicationsAndAttachments(publications, attachments)

                this.years = groupByYear(publications)
                this.publications = publications
                
                this.updateCloud()
            },
            computed: {
                sortedYears() {
                    const sortedYears = Object.keys(this.years).sort().reverse().map(number => {
                        return {
                            number,
                            publications: this.years[number].publications
                        }
                    })

                    sortedYears.forEach(year => {
                        year.publications = year.publications.filter(p => this.filterPublication(p))
                    })

                    return sortedYears.filter(it => it.publications.length > 0)
                },
                notFiltering() {
                    return !this.filtering
                },
                filtering() {
                    return this.showType !== undefined
                },
                types() {
                    const types = this.publications.map(p => p.data.itemType)
                    return this.allowedTypes.filter(t => types.includes(t.type))
                },
                loading() {
                    return this.publications.length == 0
                },
                abstractWords() {
                    
                    let abstracts = '';
                    
                    for(let year of this.sortedYears)
                    {
                        for(let publication of year.publications)
                        {
                            abstracts += publication.data.abstractNote
                        }   
                    }
                    
                    const wordsQuantity = {}
                    
                    abstracts.split(" ").forEach(word => {
                        if(!wordsQuantity[word]) {
                            wordsQuantity[word] = 1
                        } else {
                            wordsQuantity[word]++
                        }
                    })
                    
                    const wordsArray = []
                    Object.keys(wordsQuantity).forEach(word=>{
                        wordsArray.push({
                            text: word,
                            weight: wordsQuantity[word]
                        })
                    })
                    const unusedWords = ['para','that','their','está','this','from','este','have','also','half']
                    return wordsArray.filter(word=>word.text.length > 3).filter(word=>
                        unusedWords.includes(word.text.toLowerCase()) == false
                    )
                },
            },
            methods: {
                updateCloud() {
                    const words = this.abstractWords
                    $(document).ready(function(){
                        $('#cloud').jQCloud('destroy')
                        $('#cloud').jQCloud(words);
                    })
                },
                filterPublication(publication) {
                    if (this.filtering)
                        if (typeOf(publication) != this.showType.type)
                            return false
                    if (this.searchText.length > 0) {
                        const text = publication.citation.toUpperCase()
                        const search = this.searchText.toUpperCase()
                        const notFound = text.indexOf(search) == -1
                        if (notFound)
                            return false
                    }
                    return true
                }
            }
        })
        async function getItems(groupId, collectionId) {
            return axios.get(`https://api.zotero.org/groups/${groupId}/collections/${collectionId}/items?format=json&include=data,citation&style=associacao-brasileira-de-normas-tecnicas-note`)
        }
        function filterPublications(items) {
            return items.filter(item => typeOf(item) != "attachment")
        }
        function filterAttachments(items) {
            return items.filter(item => typeOf(item) == "attachment")
        }
        function linkPublicationsAndAttachments(publications, attachments) {
            for (let publication of publications)
                addAttachmentsFor(publication, attachments)
        }
        function typeOf(item) {
            return item.data.itemType
        }
        function areRelated(publication, attachment) {
            return keyOf(publication) == parentKey(attachment)
        }
        function keyOf(item) {
            return item.key
        }
        function parentKey(item) {
            return item.data.parentItem
        }
        function addAttachmentsFor(publication, attachments) {
            publication.attachments = attachments.filter(attachment => areRelated(publication, attachment))
        }
        function attach(publication, attachment) {
            if (!publication.attachments)
                publication.attachments = []
            publication.attachments.push(attachment)
        }
        function getYearOf(publication) {
            const matches = publication.data.date.match(/\d{4}/g)
            if (matches.length > 0)
                return new Number(matches[0])
            return "Sem ano"
        }
        function isNew(year, years) {
            return years[year] === undefined
        }
        function groupByYear(publications) {
            const years = {}
            for (let publication of publications) {
                const year = getYearOf(publication)
                if (isNew(year, years)) {
                    years[year] = {
                        publications: []
                    }
                }
                years[year].publications.push(publication)
            }
            return years;
        }
    </script>
</body>

</html>